{
  "presets": [
    [
      "env",
      {
      "browserslist": [
        "> 0.2%",
        "not dead"
      ],
      "ignore": [
        "node_modules/*"
      ]
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
